@import "./styleSheet.scss";

@media all{
  .logoWhite {
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .logoPreto {
    width: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
}
